# Logging
#SyslogFacility AUTH
#LogLevel INFO

# Authentication:
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

PrintMotd no

Subsystem	sftp	/usr/libexec/sftp-server
